@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Zilla+Slab:wght@700&display=swap');
:root {
  --color-bg: #020722;
  --color-bg-light: #161822;
  --color-fg: #ffffff;
  --color-gray-light: #a0a0a0;
  --color-accent: #00b4e6;

  --ff-logo:"Montserrat";
  --ff-logo2:"Zilla Slab";
  --ff-sans: "Inter", sans-serif;
}