@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

:root {
  --color-bg: #121212;
  --color-card: #1e1e1e;
  --color-fg: #e0e0e0;
  --color-gray: #333333; 
  --color-gray-light: #b0b0b0;
  --color-accent: #00e676;
  --color-error: #ff5252;

  --ff-sans: "Inter", sans-serif;
}